[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
django-environ = "*"
psycopg = "*"
gunicorn = "*"
django-debug-toolbar = "*"
django-allauth = "*"
django-extensions = "*"
pydantic = "*"
dramatiq = "*"
django-dramatiq = "*"
dramatiq-sqs = "*"

[dev-packages]
pre-commit = "*"
watchdog = "*"

[requires]
python_version = "3.11"
