{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Finance' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{% trans 'Accounts' %}</h1>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary">+</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Balance' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.currency.symbol }} {{ account.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
