{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Finance' %}{% endblock %}

{% block content %}
<h1>Accounts</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.currency.symbol }} {{ account.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
